.portfolio {
  padding-bottom: 100px;

  &__title {
    margin: 112px 0 0;
    font-weight: 400;

    .portfolio__title--bold {
      font-weight: 700;
    }
  }

  &__slider {
    display: flex;
    margin-top: 30px;

    .port__imgs {
      width: 50%;

      .port__img-l {
        width: 58%;
        margin: 0 10px 10px 0;
      }

      .port__img-r {
        width: 40%;
        margin: 0 0 10px 0;
      }
    }

    .port__img-bottom {
      flex-wrap: nowrap;

      .img-bottom__img-l,
      .img-bottom__img-m,
      .img-bottom__img-r {
        width: 32%;
      }

      .img-bottom__img-l {
        margin: 10px 0 0;
      }

      .img-bottom__img-m {
        margin: 10px 12px 0;
      }

      .img-bottom__img-r {
        margin: 10px 0 0 0;
      }
    }

    .portfolio__content {
      width: 50%;
      margin: 10px 0 0 50px;

      .portfolio__prices-wrapper{
        margin-bottom: 27px;
      }

      .portfolio__metres,
      .portfolio__month,
      .portfolio__price {
        flex-direction: column;
      }

      .portfolio__metres,
      .portfolio__month {
        margin-right: 10px;
      }

      .slide__text-top{
        width: 90px;
      }

      .text--bold{
        color: $titles-red;
      }

      .portfolio__metres, .portfolio__month{
        margin-right: 95px;

      }

      .portfolio__video-wrapper{
        display: flex;
        margin: 42px 0 46px;

        .portfolio__video-left{
          margin-right: 35px;
        }

        .video--left, .video--right{
          border-radius: 8px;
        }

      }
    }
  }

  .img--heigth {
    height: 200px;
  }
}
