.realyprice {

    &__title{
        margin-top: 200px;
        width: 776px;

        .realyprice__title-reg{
            font-weight: 400;
        }
    }

    .nav-items{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 50px;

        &-btn{
            width: 32%;

        }
    }
   
}