
/// @type List
$text-font-stack: 'Manrope','Arial' !default;


/// Colors
$text-color: #274646 !default;
$titles-red: #C85664 !default;
$titles-slider: #426667 !default;
$title-header: #99E2DB !default;


