
body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.67;
}
button, optgroup, select {
  font-family: $text-font-stack;
  font-size: 18px;
}
input, textarea {
  font-family: $text-font-stack;
  font-size: 24px;
}

.h1, .h3, .text--bold{
  font-family: 'BebasNeue';
  font-weight: 700;
}

.h1 {
  font-size: 65px;
  color: $title-header;
  line-height: 120%;
}

.h2 {
  font-size: 55px;
  color: $titles-slider;
  line-height: 110%;
  font-family: 'BebasNeue';
}

.h3 {
  font-size: 30px;
  color: #6FABA7;
  line-height: 110%;
}

.text--bold{

 font-size: 36px;
 line-height: 46px;

}