
body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.67;
}
button, optgroup, select {
  font-family: $text-font-stack;
  font-size: 18px;
}
input, textarea {
  font-family: $text-font-stack;
  font-size: 24px;
}
