.btn-slider-top{
    font-family: "BebasNeue";
    font-weight: 700;
    font-size: 36px;
    color: $titles-slider;
    line-height: 130%;
    letter-spacing: 0.03em;
    border-bottom: 3px solid $titles-slider;
}